<html>
    <body>
        <b>Name:</b> {{ name }}<br />
        <b>Email:</b> {{ email }}<br />
        <b>IP:</b> {{ ip }}<br />
        <b>Message:</b><br />
        {{ message }}
    </body>
</html>